<form class="task-form" (ngSubmit)="submit()">
  <div class="section-heading">
    <h2>Nova tarefa</h2>
  </div>

  <label>
    <span>Título</span>
    <input
      type="text"
      name="title"
      placeholder="Ex: Finalizar API"
      [ngModel]="title()"
      (ngModelChange)="title.set($event)"
      maxlength="120"
      required
    />
  </label>

  <label>
    <span>Descrição</span>
    <textarea
      name="description"
      placeholder="Descreva o que precisa ser feito"
      [ngModel]="description()"
      (ngModelChange)="description.set($event)"
      maxlength="500"
      rows="5"
    ></textarea>
  </label>

  <button class="primary-button" type="submit" [disabled]="saving()">
    {{ saving() ? 'Salvando...' : 'Criar tarefa' }}
  </button>
</form>
